.aback{
    -fx-background-color: rgba(0, 0, 0, 0.85);
}

#shoppingCartCloseImg {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
}

#shoppingCartCloseImg:hover {
    -fx-background-color: red;
}

#goToHowToLink:hover {
    -fx-underline: true;
}

#productCard:hover {
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.7) , 10,0,0,1 );
}

.spinner > .text-field {
    -fx-background-color: white;
    -fx-border-color: #c9c9c9;
    -fx-font-size: 14;
}

.image:hover{
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.7) , 10,0,0,1 );
}

.button {
    -fx-background-color:  #ec5425;
}

.button:hover {
    -fx-background-color: #ef7650;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.7) , 10,0,0,1 );
}

.titled-pane > .title {
    -fx-background-color: WHITE;
    -fx-border-color: #c9c9c9;
}

.titled-pane > .content {
    -fx-background-color: WHITE;
    -fx-border-color: #f5f5f5;
}

.tree-cell {
    -fx-padding: 0.5em 0em 0.5em 0em;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-color: WHITE;
    -fx-border-width: 0em 0em 5em 0em;
}

.tree-cell:selected {
    -fx-background-color: #ec5425;
    -fx-text-fill: white;
}

.tree-cell:hover {
    -fx-background-color: #ec5425;
    -fx-text-fill: white;
}

.split-pane-divider {
  -fx-padding: 0;
}

.split-pane:horizontal > .split-pane-divider {
   -fx-background-color: transparent;
}

.split-pane:vertical > .split-pane-divider {
   -fx-background-color: transparent;
}

.scroll-bar:vertical {
    -fx-pref-width: 18;
    -fx-background-color: white;
    -fx-border-color: #c9c9c9;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: #c9c9c9;
}
